<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            <%= config.author || config.title %> &copy; <%= date(new Date(), 'YYYY' ) %>
        </div>
    </div>
</footer>