.header{width:100%; margin:0 auto; background:#FFF; box-shadow: 0 0 14px rgba(0,0,0,.04);}
.header .inner{width:97%; height:68px; line-height:68px; margin:0 auto; color:#333;}
.header .inner .logo{width:5em; float:left; font-size:1.6em; text-align:center; margin-left:1em;}
.header .inner .nav{width:750px; float:left;}
.header .inner .nav a{font-size:1.6em; padding:0 0.5em; color:#333; font-weight:bold;}
.header .inner .nav a:hover{color:#007be3}

.container{width:100%; max-width:1920px; margin:20px auto; height:100%; overflow:hidden;}
.container .left{width:100%; float:left; background:#FFF; box-shadow: 0 0 14px rgba(0,0,0,.04);}
.container .left .video{width:94%; margin:0 auto;}
.container .left p{font-size:2em; font-weight:normal; line-height:1.5;}
.container .left p a{font-size:1em;text-decoration:underline; display:inline-block; color:#1068ab;}
.container .left p strong{}
.container .left h1{font-size:2.5em; color:#333; padding:0.5em 0 1em 0px; width:94%; margin:0 auto; line-height:1.3;}
.container .left .video h2{font-size:2em; color:#333; font-weight:bold; margin-bottom:0.2em;}
.container .left .ruanjian h1{font-size:3.5em;}
.container .left .ruanjian h2{font-size:3em; font-weight:bold; border-bottom:1px dashed #CCCCCC; padding:10px 0; margin-bottom:25px;}
.container .left .ruanjian .rjbtn a{font-size:1.3em; border-radius:0.2em; padding:0.2em 0.6em; margin:0.1em 0.8em 0.5em 0;}

.copy_layout{position:relative;}
.copy-text{display:block; text-align:right; cursor:pointer;font-size:1em;color:#CCC; padding-right:3px; position:absolute; right:0; top:0;}
.copy-text:hover{color:#FFF;}
.copy-content{display: block; background:#50556b; color:#FFF; font-size:0.8em; line-height:1.5; padding:10px 15px; border-radius:3px;}
.copy_layout:hover .copy-text{display:block;}
.ol_list{font-size:2em;}
.footer{font-size:1.2em}
body{line-height:2;}
