@charset "utf-8";
/* CSS Document */
body {
	margin:0;
	font: 16px/1.5 "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
	color: #333;
	background-color: #f8f8f8;
	min-width: 900px
}

.header{width:100%; margin:0 auto; background:#FFF; box-shadow: 0 0 14px rgba(0,0,0,.04);}
.header .inner{width:900px; height:68px; line-height:68px; margin:0 auto; color:#333;}
.header .inner .logo{width:100px; float:left; font-size:20px; text-align:center;}
.header .inner .nav{width:750px; float:left;}
.header .inner .nav a{font-size:18px; padding:0 8px; color:#333; font-weight:bold;}
.header .inner .nav a:hover{color:#007be3}

.container{width:100%; max-width:1920px; margin:20px auto; height:100%; overflow:hidden;}
.container .left{width:100%; max-width:1000px; background:#FFF; box-shadow: 0 0 14px rgba(0,0,0,.04); margin:0 auto; padding-bottom:20px; border-radius:10px;}
.container .left .video{width:90%; margin:0 auto;}
.container .left iframe{width:100%; min-height:506px; border-radius:10px;}
.container .left .video img{max-width:100%;}
.container .left p{font-size:16px; font-weight: inherit; margin:0 0 20px 0; color:#333; line-height:2;}
.container .left p a{text-decoration:underline; color:#1068ab}
.container .left p a:hover{color:#007be3;}
.container .left p strong{}
.container .left .video h2{font-size:24px; color:#333; font-weight:bold; margin-bottom:10px; margin-top:30px;}
.copy_layout{position:relative;}
.copy-text{display:none; text-align:right; cursor:pointer;font-size:14px;color:#CCC; padding-right:3px; position:absolute; right:0; top:0;}
.copy-text:hover{color:#FFF;}
.copy-content{display: block; background:#50556b; color:#FFF; font-size:14px; line-height:1.5; padding:10px 15px; border-radius:3px;}
.copy_layout:hover .copy-text{display:block;}
.container li{color:#333;}
.container li a{color:#1068ab;}
.container li a:hover{color:#007be3}

.container .left h1{font-size:30px; color:#333; padding:20px 0px; margin:0 auto; width:90%; margin-bottom:30px; line-height:1.2; border-bottom: 1px solid #eee; font-weight:bold;}
.container .left .data{text-align:center; font-size:14px; padding:20px; margin:0 auto; width:96%; border-bottom:1px solid #eee;}
.container .left .content{padding:20px; margin-top:10px; line-height:2;}
.container .left .content img{max-width:860px;}
.container .left .content .tips{padding-bottom:20px;}
.container .left .content a{color:#007be3}
.container .left .content a:hover{text-decoration:underline;}
.container .left .content .vpnlist .title{color:#fff;}
.container .left .content .vpnlist a{text-decoration:underline;}
.container .left .content .kpzs{width:800px; margin:0 auto;}
.container .left .content .kpzs a{border-bottom: 1px dashed #CCCCCC; display:block;padding: 3px; margin-bottom: 5px;}
.container .left .content .kpzs a:hover{text-decoration:underline;}
.container .left .content.kpzs p{text-indent:2em;}
.container .left .content.kpzs h2{font-weight:bold;}
.container .left .titleh1{padding:0; margin:10px 0 0 0; font-size:28px; border-bottom: 1px solid #eee; padding-bottom:10px;}
.container .left .sitemap div{line-height:1.5; border-bottom:1px dashed #eee;margin-bottom:10px; padding:10px;}
.container .left .sitemap a{margin-right:10px;white-space:nowrap;}
.container .left .sitemap a:nth-child(1){font-weight:bold;}
.container .left .ruanjian{width:90%; margin:0 auto;}
.container .left .ruanjian h1{font-size:32px; padding:30px 0px 10px 0px; font-weight:bold; margin-bottom:10px; line-height:1.2; text-align:center;}
.container .left .ruanjian h2{font-size:24px; font-weight:bold; border-bottom:1px dashed #CCCCCC; padding:10px 0; margin-bottom:25px;}
.container .left .ruanjian .rjbtn{height:100%; width:100%; display:block;clear:both; overflow:hidden;}
.container .left .ruanjian .rjbtn a{padding:10px 8px; background:#2a79e5; color:#FFF; text-decoration:none; border-radius:3px; margin:0 13px 15px 0; display:block; float:left;}
.container .left .ruanjian .rjbtn a:hover{background:#3086fb;}
.container .left .ruanjian .btngreen a{background:#1fa42e;}
.container .left .ruanjian .btngreen a:hover{background:#2cb23b;}


.nva01{width:900px; height:14px; line-height:14px; margin:15px auto 0; font-size:14px;}
.nva01 a{margin:0 5px;}

.container .right{width:900px; padding:0px; float:left; margin:20px 0;}
.container .right .box{padding:10px 10px 15px; background:#FFF; box-shadow: 0 0 14px rgba(0,0,0,.04); border-radius:3px; margin-bottom:15px;}
.container .right .tag{}
.container .right .tag h2{text-align:center; padding:10px 0 15px; font-weight:bold;}
.container .right .tag .taglist a{font-size:14px; background:#3da3f2; opacity:.7; color:#FFF; padding:5px 8px; margin:4px 2px; transition:all .5s; display:inline-block; border-radius:2px;}
.container .right .tag .taglist a:hover{opacity:1; color:#000;}
.container .right .tag .taglist a:nth-child(9n+1){background-color: #15a287;}
.container .right .tag .taglist a:nth-child(9n+2){background-color: #5cb85c;}
.container .right .tag .taglist a:nth-child(9n+3){background-color: #d9534f;}
.container .right .tag .taglist a:nth-child(9n+4){background-color: #567e95;}
.container .right .tag .taglist a:nth-child(9n+5){background-color: #4a4a4a;}
.container .right .tag .taglist a:nth-child(9n+6){background-color: #b355f4;}
.container .right .tag .taglist a:nth-child(9n+7){background-color: #5f26df;}
.container .right .tag .taglist a:nth-child(9n+8){background-color: #df9326;}
.container .right .rtips{text-align:center;}
.container .right .hot{}
.container .right .hot h2{text-align:center; padding:10px 0 15px; font-weight:bold;}
.container .right .hot a{display:block; border-bottom:1px solid #eee; height:40px; line-height:40px; padding-left:5px;}
.container .right .hot a:nth-last-child(1){border:none;}
.container .right .hot span{display:inline-block; width:4px; height:4px; border-radius:100%; background:#999; margin: 0 8px 0 0; vertical-align:middle;}
.container .right .img01 {padding:10px;}
.container .right .img01 img{display:block; border-radius:5px;}
.container .right .img01 a{display:block;}

.footer{text-align: center; color:#333; background-color:#eee; padding: 30px 0 20px; width: 100%; margin-top: 50px; clear:both; width:100%; margin:0 auto;}
.footer .footer_nav{}
.footer .footer_nav a{margin:0 10px; color:#333; text-decoration:underline;}
.footer .footer_nav a:hover{margin:0 10px; color:#007be3;}
.footer .tips{padding:5px;}
