@charset "utf-8";
/* CSS Document */
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
	display: block
}
audio, canvas, video {
	display: inline-block;
*display:inline;
*zoom:1
}
audio:not([controls]) {
	display: none;
	height: 0
}
[hidden] {
	display: none
}
html {
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
html, button, input, select, textarea {
	font-family: sans-serif
}
a:active, a:hover {
	outline: 0
}
a {
	color: #0076d9;
	text-decoration: none;
	word-break:break-all;
}
a:hover {
	color: #0887f3;
	text-decoration:underline;
}
div,ul,li{padding:0; margin:0; list-style:none;}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h1,h2,h3{padding:0; margin:0;font-family: inherit;font-size: 100%;font-style: inherit;font-weight: inherit;}
.ol_list li{list-style-type:disc;}
.ol_list li a{text-decoration:underline;}