.layout{width:96%; margin:0 auto; background:#FFF; padding:2em; margin-top:0em; border-radius:1em;}
.layout .wz p{font-size:2.2em;}
.layout .link p a{margin-bottom:1em; display:inline-block;}
.layout .link p span{margin-bottom:1em; display:inline-block;}
.layout .wz a.clash{background:#245380 url(../images/cla.png) no-repeat 1.1em 0.9em; background-size: 1.2em; padding:0.5em 1.1em 0.5em 2.8em;}
.layout .wz a.clash:hover{background:#29649d url(../images/cla.png) no-repeat 1.1em 0.9em; background-size: 1.2em;}
.layout .wz a.shadowrocket{background:#248ae5 url(../images/sha.png) no-repeat 1em 0.9em; background-size: 1.6em; padding:0.5em 1.1em 0.5em 2.8em;}
.layout .wz a.shadowrocket:hover{background:#2392f4 url(../images/sha.png) no-repeat 1em 0.9em; background-size: 1.6em;}
.layout .wz .clash1{background:#e17011 url(../images/cla.png) no-repeat 1.1em 0.9em; background-size: 1.2em; padding:0.5em 1.1em 0.5em 2.8em;}
.layout .wz .clash1:hover{background:#fd7e14 url(../images/cla.png) no-repeat 1.1em 0.9em; background-size: 1.2em;}
.layout .wz .v2ray{background:#0d9d40 url(../images/v2.png) no-repeat 1.2em 1.1em; background-size: 1.1em; padding:0.5em 1.1em 0.5em 2.8em;}
.layout .wz .v2ray:hover{background:#11b149 url(../images/v2.png) no-repeat 1.2em 1.1em; background-size: 1.1em;}

.header{width:100%; margin:0 auto; background:#FFF; box-shadow: 0 0 14px rgba(0,0,0,.04);}
.header .inner{width:97%; height:68px; line-height:68px; margin:0 auto; color:#333;}
.header .inner .logo{width:7em; float:left; font-size:1.3em; text-align:center; margin-left:1em;}
.header .inner .logo h1{font-size:1.2em;}
.header .inner .nav{width:750px; float:left;}
.header .inner .nav a{font-size:1.6em; padding:0 8px; color:#333; font-weight:bold;}
.header .inner .nav a:hover{color:#007be3}


.container{width:100%; max-width:1920px; margin:20px auto; height:100%; overflow:hidden;}
.container .left{width:100%; float:left; background:#FFF; box-shadow: 0 0 14px rgba(0,0,0,.04);}
.container .left .item_list{width:92%; min-width:440px; height:100%; padding:0px; margin:4% 4%; border-bottom:1px solid #eee; transition:all 0.5s; float:left; border-radius:20px; overflow:hidden;box-shadow: 0 0 20px rgba(0,0,0,.1);}
.container .left .item_list:hover{box-shadow: 0 0 20px rgba(0,0,0,.3);}
.container .left .item_list img{width:100%; height:100%; float:left;}
.container .left .item_list h2{padding:1em 1em; font-weight:bold; color:#333;float:left; font-size:2em;}
.container .left .item_list .item_img{width:228px; height:143px; float:left;}
.container .left .item_list .item_img img{border-radius:8px;}
.container .left .item_list .text_list{width:670px; float:right; line-height:150%; padding-top:10px;}
.container .left .item_list .text_list a{font-size:18px; font-weight:bold; color:#333; margin-left:0px;}
.container .left .item_list .text_list a:hover{color:#007be3}
.container .left .item_list .text{padding:10px 0;}
.footer{font-size:1.2em}
